%h1 Room #{@room.name}

= label_tag :content, 'Say something:'
= text_field_tag :content, nil, data: { behavior: 'room_speaker' }

#messages{data: {room: {id: @room.id} } }
  = render @messages

= link_to "ルーム一覧", rooms_path
